<section class="max-w-4xl p-6 mx-auto bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 mt-20">
    <h1 class="text-xl font-bold text-white capitalize dark:text-white">Registrar Producto</h1>
    <form autocomplete="off" [formGroup]="formRegistro" (submit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div>
                <label class="text-white dark:text-gray-200" for="producto">Producto</label>
                <input [ngClass]="{'correct': formRegistro.get('producto')?.valid,'error': formRegistro.get('producto')?.invalid && formRegistro.get('producto')?.touched}" formControlName="producto" id="producto" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="Producto">
                <div >
                    <p *ngIf="formRegistro.get('producto')?.touched && formRegistro.get('producto')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Producto es Obligatorio</p>
                    <p *ngIf="formRegistro.get('producto')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                </div>
            </div>

            <div>
                <label class="text-white dark:text-gray-200" for="costo">Costo</label>
                <input [ngClass]="{'correct': formRegistro.get('costo')?.valid,'error': formRegistro.get('costo')?.invalid && formRegistro.get('costo')?.touched}" formControlName="costo" id="costo" type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" placeholder="0">
                <div>
                    <p *ngIf="formRegistro.get('costo')?.touched && formRegistro.get('costo')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Costo es Obligatorio</p>
                    <p *ngIf="formRegistro.get('costo')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                </div>
            </div>
            <div>
                <label class="text-white dark:text-gray-200" for="foto">Foto</label>
                <div class="flex rounded-md shadow-sm">
                    <span class="px-4 inline-flex mt-2 items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 text-sm text-gray-500 dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400">https://</span>
                    <input [ngClass]="{'correct': formRegistro.get('foto')?.valid,'error': formRegistro.get('foto')?.invalid && formRegistro.get('foto')?.touched}" formControlName="foto" type="text" id="foto" class="py-2 px-3 pr-11 block w-full mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                </div>
                <div>
                    <p *ngIf="formRegistro.get('foto')?.touched && formRegistro.get('foto')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Campo Foto es Obligatorio</p>
                    <p *ngIf="formRegistro.get('foto')?.touched && formRegistro.get('foto')?.errors?.['pattern']" class="text-center block mb-1 ml-1 text-red-600">Formato de foto es Incorrecto ejemplo https://www.google.com/</p>
                    <p *ngIf="formRegistro.get('foto')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                </div>
            </div>

            <div>
                <label class="block text-sm font-medium text-white">
                Imagen
              </label>
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <p class="pl-1 text-white">Pega la url de una imagen</p>
                  </div>
                  <p class="text-xs text-white">
                    PNG, JPG, GIF hasta 10 MB
                  </p>
                </div>
              </div>
            </div>
        </div>

        <div class="flex justify-end mt-6">
            <button [disabled]="formRegistro.invalid" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Registrar</button>
        </div>
    </form>
</section>
